Content/Schemas/Gameplay/SagaEngine/SagaTriggerPatterns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../EntityBase.xsd" />
    <xs:include schemaLocation="SagaArcCommon.xsd" />
    <xs:simpleType name="SagaTriggerPatternRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SagaTriggerPattern">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="SagaTrigger" type="SagaTrigger" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="EnforceProgression" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SagaTriggerPatterns">
        <xs:sequence>
            <xs:element name="SagaTriggerPattern" type="SagaTriggerPattern" minOccurs="0" maxOccurs="unbounded">
                <xs:unique name="UniqueSagaTriggerRefPerPattern">
                    <xs:selector xpath="SagaTrigger" />
                    <xs:field xpath="@RefName" />
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>