Content/Schemas/Gameplay/SagaEngine/SagaArcCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../Actors/Characters/Characters.xsd" />
    <xs:include schemaLocation="../Acquirables/QuestToken.xsd" />
    <xs:include schemaLocation="../Acquirables/CharacterEffects.xsd" />
    <xs:include schemaLocation="../Acquirables/RewardEffects.xsd" />
    <xs:include schemaLocation="../Acquirables/ItemCollection.xsd" />
    <xs:include schemaLocation="../CommonTypes.xsd" />
    <xs:include schemaLocation="../Interactable.xsd" />
    <xs:include schemaLocation="../Quests/Quest.xsd" />
    <xs:simpleType name="Meters">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CharacterSpawn">
        <xs:sequence>
            <xs:element name="CharacterRef" type="CharacterRef" />
        </xs:sequence>
        <xs:attribute name="Count" type="NonNegativeInt" use="optional" default="1" />
    </xs:complexType>
    <xs:complexType name="SagaTrigger">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Spawn" type="CharacterSpawn" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="RequiresQuestTokenRef" type="QuestTokenRef" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="GivesQuestTokenRef" type="QuestTokenRef" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="EnterRadius" type="Meters" use="required" />
                <xs:attribute name="Tags" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>