Content/Schemas/WorldConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="EntityBase.xsd" />
    <xs:simpleType name="WorldConfigurationRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="HeightMapSettings">
        <xs:attribute name="RelativePath" type="xs:string" use="required" />
        <xs:attribute name="HorizontalScale" type="xs:double" use="required" />
        <xs:attribute name="VerticalScale" type="xs:double" use="required" />
        <xs:attribute name="VerticalShift" type="xs:double" use="required" />
    </xs:complexType>
    <xs:complexType name="ProceduralSettings">
        <xs:attribute name="LatitudeDegreesToUnits" type="xs:double" default="250" />
        <xs:attribute name="LongitudeDegreesToUnits" type="xs:double" default="250" />
    </xs:complexType>
    <xs:complexType name="WorldConfiguration">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:choice>
                        <xs:element name="HeightMapSettings" type="HeightMapSettings" />
                        <xs:element name="ProceduralSettings" type="ProceduralSettings" />
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="Template" type="xs:string" use="required" />
                <xs:attribute name="ConsumableItemsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="SpellsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="EquipmentRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="QuestTokensRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="CharactersRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="CharacterAffinitiesRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="StatusEffectsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="CombatStancesRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="LoadoutSlotsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="ToolsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="BuildingMaterialsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="DialogueTreesRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="AvatarArchetypesRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="AchievementsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="QuestsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="SagaArcsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="FactionsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="AttackTellsRef" type="xs:string" use="optional" default="Standard" />
                <xs:attribute name="CurrencyName" type="xs:string" default="Credit" />
                <xs:attribute name="StartDate" type="xs:date" default="0001-05-01" />
                <xs:attribute name="SpawnLatitude" type="xs:double" use="required" />
                <xs:attribute name="SpawnLongitude" type="xs:double" use="required" />
                <xs:attribute name="SecondsInHour" type="xs:int" default="60" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="WorldConfigurations">
        <xs:sequence>
            <xs:element name="WorldConfiguration" type="WorldConfiguration" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="WorldConfigurations" type="WorldConfigurations" />
</xs:schema>