Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/Gameplay/Actors/Avatar/Inventories/PartyInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../Characters/Characters.xsd" />
    <xs:include schemaLocation="../../../Factions/Faction.xsd" />

    <!-- ============================================================================
         PARTY SYSTEM

         Companions are NPCs who have joined the player's party.
         They are always present (not summoned on-demand like Summons).

         Party slots are limited and expand based on reputation with a
         configured faction (e.g., "Renown" or "Leadership").

         Slot progression by reputation level:
         - Neutral:  1 slot
         - Friendly: 2 slots
         - Honored:  3 slots
         - Exalted:  4 slots

         Characters join via dialogue (JoinParty action) and must have
         an available slot. Use PartySlotAvailable condition in dialogue.
         ============================================================================ -->

    <xs:simpleType name="PartySlotRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PartyMember">
        <xs:attribute name="SlotRef" type="PartySlotRef" use="required" />
        <xs:attribute name="CharacterRef" type="CharacterRef" use="required" />
        <xs:attribute name="JoinedDate" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="PartyInventory">
        <xs:sequence>
            <xs:element name="Member" type="PartyMember" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <!-- The faction used to determine available party slots -->
        <xs:attribute name="SlotFactionRef" type="FactionRef" use="optional" />
    </xs:complexType>
</xs:schema>
