DefinitionXsd/Gameplay/Actors/Avatar/Inventories/QuestInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../Quests/Quest.xsd" />
    <xs:complexType name="QuestEntry">
        <xs:attribute name="QuestRef" type="QuestRef" use="required" />
        <xs:attribute name="CurrentValue" type="xs:int" default="0" />
        <xs:attribute name="IsCompleted" type="xs:boolean" default="false" />
    </xs:complexType>
    <xs:complexType name="QuestInventory">
        <xs:sequence>
            <xs:element name="Quest" type="QuestEntry" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>