Ambient.Domain/DefinitionXsd/Gameplay/LoadoutSlots.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../EntityBase.xsd" />

    <!-- Reference type for loadout slots -->
    <xs:simpleType name="LoadoutSlotRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Loadout slot definition -->
    <xs:complexType name="LoadoutSlot">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:attribute name="Category" type="xs:string" use="optional" />
                <xs:attribute name="IsSpecial" type="xs:boolean" use="optional" default="false" />
                <xs:attribute name="MaxEquipped" type="xs:int" use="optional" default="1" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Collection of loadout slots -->
    <xs:complexType name="LoadoutSlots">
        <xs:sequence>
            <xs:element name="LoadoutSlot" type="LoadoutSlot" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>