Ambient.Domain/DefinitionXsd/Gameplay/Usability.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="CommonTypes.xsd" />
    <xs:simpleType name="ItemUseType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Offensive"></xs:enumeration>
            <xs:enumeration value="Defensive"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="UseAttributes">
        <xs:attribute name="DurabilityLoss" type="NonNegativeFloat" use="optional" default="0.01"></xs:attribute>
        <xs:attribute name="UseType" type="ItemUseType" use="optional" default="Defensive"></xs:attribute>
    </xs:attributeGroup>
</xs:schema>