Ambient.Domain/DefinitionXsd/Gameplay/Actors/Avatar/Inventories/SagaArcInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:complexType name="SagaDiscovery">
        <xs:attribute name="SagaArcRef" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="SagaArcInventory">
        <xs:sequence>
            <xs:element name="Discovery" type="SagaDiscovery" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="TotalDiscovered" type="xs:int" default="0" />
    </xs:complexType>
</xs:schema>