Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/Gameplay/SagaEngine/SagaArcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../EntityBase.xsd" />
    <xs:include schemaLocation="SagaFeatures.xsd" />
    <xs:include schemaLocation="SagaArcCommon.xsd" />
    <xs:include schemaLocation="SagaTriggerPatterns.xsd" />
    <xs:include schemaLocation="../AIMetadata.xsd" />

    <!-- Content source/provenance for tracking generated vs official content -->
    <xs:simpleType name="ContentSource">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Official" />      <!-- Hand-crafted by developers -->
            <xs:enumeration value="Generated" />     <!-- AI-generated by StoryGenerator -->
            <xs:enumeration value="Community" />     <!-- User-created/modded content -->
            <xs:enumeration value="Modified" />      <!-- Official content that was edited -->
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SagaArc">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="SagaFeatureRef" type="SagaFeatureRef" minOccurs="0" maxOccurs="1" />
                    <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element name="SagaTriggerPatternRef" type="SagaTriggerPatternRef" />
                        <xs:element name="SagaTrigger" type="SagaTrigger" maxOccurs="unbounded" />
                    </xs:choice>
                    <xs:element name="AIMetadata" type="SagaArcAIMetadata" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>AI-only metadata for narrative generation (ignored by game engine)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="LatitudeZ" type="xs:double" use="required" />
                <xs:attribute name="LongitudeX" type="xs:double" use="required" />
                <xs:attribute name="Y" type="xs:double" use="optional" />
                <xs:attribute name="Source" type="ContentSource" use="optional" default="Official" />
                <xs:attribute name="GenerationSeed" type="xs:int" use="optional" />
                <xs:attribute name="Locked" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SagaArcs">
        <xs:sequence>
            <xs:element name="SagaArc" type="SagaArc" maxOccurs="unbounded">
                <xs:unique name="UniqueSagaTriggerRefPerSaga">
                    <xs:selector xpath="SagaTrigger" />
                    <xs:field xpath="@RefName" />
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>