Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/Gameplay/SagaEngine/SagaArcCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../Actors/Characters/Characters.xsd" />
    <xs:include schemaLocation="../Actors/Characters/CharacterArchetype.xsd" />
    <xs:include schemaLocation="../Acquirables/QuestToken.xsd" />
    <xs:include schemaLocation="../Acquirables/CharacterEffects.xsd" />
    <xs:include schemaLocation="../Acquirables/RewardEffects.xsd" />
    <xs:include schemaLocation="../Acquirables/ItemCollection.xsd" />
    <xs:include schemaLocation="../CommonTypes.xsd" />
    <xs:include schemaLocation="../InteractableBase.xsd" />
    <xs:include schemaLocation="../Quests/Quest.xsd" />
    <xs:simpleType name="SagaTriggerType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SpawnAndInitiate"></xs:enumeration>
            <xs:enumeration value="SpawnPassive"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Meters">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CharacterSpawn">
        <xs:sequence>
            <xs:choice>
                <xs:element name="CharacterRef" type="CharacterRef" />
                <xs:element name="CharacterArchetypeRef" type="CharacterArchetypeRef" />
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="Count" type="NonNegativeInt" use="optional" default="1" />
    </xs:complexType>
    <xs:complexType name="SagaTrigger">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Spawn" type="CharacterSpawn" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="RequiresQuestTokenRef" type="QuestTokenRef" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="GivesQuestTokenRef" type="QuestTokenRef" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="EnterRadius" type="Meters" use="required" />
                <xs:attribute name="Tags" type="xs:string" use="optional" />
                <xs:attribute name="TriggerType" type="SagaTriggerType" use="optional" default="SpawnPassive"></xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="QuestDifficulty">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Trivial" />
            <xs:enumeration value="Easy" />
            <xs:enumeration value="Normal" />
            <xs:enumeration value="Hard" />
            <xs:enumeration value="Epic" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SagaFeatureType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Landmark" />
            <xs:enumeration value="Structure" />
            <xs:enumeration value="Quest" />
            <xs:enumeration value="ResourceNode" />
            <xs:enumeration value="Teleporter" />
            <xs:enumeration value="Vendor" />
            <xs:enumeration value="CraftingStation" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SagaFeature">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Interactable" type="InteractableBase" minOccurs="0"></xs:element>
                </xs:sequence>
                <xs:attribute name="Type" type="SagaFeatureType" use="required" />
                <xs:attribute name="CategoryType" type="xs:string" use="optional" />
                <xs:attribute name="SubType" type="xs:string" use="optional" />
                <xs:attribute name="Tags" type="xs:string" use="optional" />
                <xs:attribute name="ModelRef" type="ModelRef" use="optional" />
                <!-- Quest-specific attributes (only used when Type="Quest") -->
                <xs:attribute name="QuestRef" type="QuestRef" use="optional" />
                <xs:attribute name="Difficulty" type="QuestDifficulty" use="optional" default="Normal" />
                <xs:attribute name="EstimatedDurationMinutes" type="xs:int" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>