Ambient.Domain/DefinitionXsd/Gameplay/Actors/Characters/Catalogs/CharacterAffinities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../../EntityBase.xsd" />
    <xs:simpleType name="CharacterAffinityRef">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="AffinityMatchup">
        <xs:attribute name="TargetAffinityRef" type="CharacterAffinityRef" use="required" />
        <xs:attribute name="Multiplier" type="xs:float" use="required" />
    </xs:complexType>
    <xs:complexType name="CharacterAffinity">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Matchup" type="AffinityMatchup" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="NeutralMultiplier" type="xs:float" use="optional" default="1.0" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CharacterAffinities">
        <xs:sequence>
            <xs:element name="Affinity" type="CharacterAffinity" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>