Ambient.Domain/DefinitionXsd/Gameplay/Actors/Characters/Catalogs/CombatStances.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../../EntityBase.xsd" />
    <xs:include schemaLocation="../../../Acquirables/CharacterEffects.xsd" />
    <xs:simpleType name="CombatStanceRef">
        <xs:restriction base="xs:string" />
    </xs:simpleType>
    <xs:complexType name="CombatStance">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Effects" type="CharacterEffects" minOccurs="0" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CombatStances">
        <xs:sequence>
            <xs:element name="CombatStance" type="CombatStance" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>