Ambient.Domain/DefinitionXsd/Gameplay/Actors/Characters/Catalogs/StatusEffects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../../EntityBase.xsd" />

    <!-- Reference Types -->
    <xs:simpleType name="StatusEffectRef">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9_]+" />
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Status Effect Type -->
    <xs:simpleType name="StatusEffectType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DamageOverTime" />  <!-- Poison, Bleed, Burn -->
            <xs:enumeration value="Stun" />            <!-- Cannot act -->
            <xs:enumeration value="Slow" />            <!-- Reduced speed -->
            <xs:enumeration value="Weaken" />          <!-- Reduced damage output -->
            <xs:enumeration value="Vulnerable" />      <!-- Increased damage taken -->
            <xs:enumeration value="Blind" />           <!-- Reduced accuracy -->
            <xs:enumeration value="Silence" />         <!-- Cannot cast spells -->
            <xs:enumeration value="Root" />            <!-- Cannot flee -->
            <xs:enumeration value="StatBoost" />       <!-- Temporary stat increase -->
            <xs:enumeration value="StatPenalty" />     <!-- Temporary stat decrease -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Application Method -->
    <xs:simpleType name="ApplicationMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="StartOfTurn" />     <!-- Applied at turn start -->
            <xs:enumeration value="EndOfTurn" />       <!-- Applied at turn end -->
        </xs:restriction>
    </xs:simpleType>

    <!-- Status Effect Definition -->
    <xs:complexType name="StatusEffect">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:attribute name="Type" type="StatusEffectType" use="required" />

                <!-- Damage/healing per turn (for DOT effects) -->
                <xs:attribute name="DamagePerTurn" type="xs:int" use="optional" default="0" />

                <!-- Duration in battle turns (0 = permanent until cleansed) -->
                <xs:attribute name="DurationTurns" type="xs:int" use="optional" default="3" />

                <!-- Stat modifiers -->
                <xs:attribute name="StrengthModifier" type="xs:float" use="optional" default="0.0" />
                <xs:attribute name="DefenseModifier" type="xs:float" use="optional" default="0.0" />
                <xs:attribute name="SpeedModifier" type="xs:float" use="optional" default="0.0" />
                <xs:attribute name="MagicModifier" type="xs:float" use="optional" default="0.0" />
                <xs:attribute name="AccuracyModifier" type="xs:float" use="optional" default="0.0" />

                <!-- Stack limit (0 = no stacking, can only have 1 instance) -->
                <xs:attribute name="MaxStacks" type="xs:int" use="optional" default="1" />

                <!-- Can be cleansed by consumables/spells -->
                <xs:attribute name="Cleansable" type="xs:boolean" use="optional" default="true" />

                <!-- PHASE 6: When this status effect applies its periodic effects -->
                <xs:attribute name="ApplicationMethod" type="ApplicationMethod" use="optional" default="StartOfTurn" />

                <!-- Visual category (for UI rendering) -->
                <xs:attribute name="Category" use="optional">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Debuff" />
                            <xs:enumeration value="Buff" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!-- Status Effect Collection -->
    <xs:complexType name="StatusEffects">
        <xs:sequence>
            <xs:element name="StatusEffect" type="StatusEffect" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
