DefinitionXsd/Gameplay/Acquirables/Inventories/ToolInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../Tool.xsd" />
    <xs:include schemaLocation="../../CommonTypes.xsd" />
    <xs:complexType name="ToolEntry">
        <xs:attribute name="ToolRef" type="ToolRef" use="required" />
        <xs:attribute name="Condition" type="Condition01Float" default="1.0" />
    </xs:complexType>
    <xs:complexType name="ToolInventory">
        <xs:sequence>
            <xs:element name="Entry" type="ToolEntry" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>