Ambient.Domain/DefinitionXsd/Gameplay/Acquirables/Consumable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="StackableAcquirable.xsd" />
    <xs:include schemaLocation="CharacterEffects.xsd" />
    <xs:include schemaLocation="../Usability.xsd" />
    <xs:simpleType name="ConsumableRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Consumable">
        <xs:complexContent>
            <xs:extension base="StackableAcquirable">
                <xs:sequence>
                    <xs:element name="Effects" type="CharacterEffects" />
                </xs:sequence>
                <xs:attributeGroup ref="UseAttributes" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConsumableCatalog">
        <xs:sequence>
            <xs:element name="Consumable" type="Consumable" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>