Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/WorldTemplateMetadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:complexType name="TemplateMetadata">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element name="Description" type="xs:string" />
            <xs:element name="Version" type="xs:string" />
            <xs:element name="Author" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TemplateMetadata" type="TemplateMetadata" />
</xs:schema>