Content/Schemas/Gameplay/Acquirables/Acquirable.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="AcquirableBase.xsd" />
    <xs:include schemaLocation="../Economy.xsd" />
    <xs:include schemaLocation="../Actors/Characters/Catalogs/CharacterAffinities.xsd" />

    <!-- Item rarity/power tier -->
    <xs:simpleType name="ItemRarityType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Common" />
            <xs:enumeration value="Uncommon" />
            <xs:enumeration value="Rare" />
            <xs:enumeration value="Epic" />
            <xs:enumeration value="Legendary" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Acquirable">
        <xs:complexContent>
            <xs:extension base="AcquirableBase">
                <xs:attribute name="AffinityRef" type="CharacterAffinityRef" use="optional" />
                <xs:attribute name="Rarity" type="ItemRarityType" use="optional" default="Common" />
                <xs:attributeGroup ref="TradePricingAttributes" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>