Ambient.Domain/DefinitionXsd/WorldTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="WorldTemplateMetadata.xsd" />
    <xs:include schemaLocation="Gameplay/Gameplay.xsd" />
    <xs:element name="Metadata" type="TemplateMetadata" />
    <xs:element name="Gameplay" type="GameplayComponents" />
    <xs:complexType name="WorldTemplate">
        <xs:sequence>
            <xs:element ref="Metadata" />
            <xs:element ref="Gameplay" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>