Ambient.Domain/DefinitionXsd/Gameplay/Actors/Avatar/AvatarArchetype.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../EntityBase.xsd" />
    <xs:include schemaLocation="../../Acquirables/ItemCollection.xsd" />
    <xs:include schemaLocation="../../Acquirables/CharacterEffects.xsd" />
    <xs:include schemaLocation="../CharacterBase/CharacterStats.xsd" />
    <xs:include schemaLocation="../Characters/Catalogs/CharacterAffinities.xsd" />
    <xs:simpleType name="ArchetypeRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AvatarArchetype">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="ArchetypeBias" type="CharacterEffects" minOccurs="0" maxOccurs="1" />
                    <xs:element name="SpawnStats" type="CharacterStats" minOccurs="1" maxOccurs="1" />
                    <xs:element name="SpawnCapabilities" type="ItemCollection" minOccurs="1" maxOccurs="1" />
                    <xs:element name="RespawnStats" type="CharacterStats" minOccurs="1" maxOccurs="1" />
                    <xs:element name="RespawnCapabilities" type="ItemCollection" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="AffinityRef" type="CharacterAffinityRef" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AvatarArchetypes">
        <xs:sequence>
            <xs:element name="AvatarArchetype" type="AvatarArchetype" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>