Ambient.Domain/DefinitionXsd/Gameplay/Actors/Characters/CharacterArchetype.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../../EntityBase.xsd" />
    <xs:include schemaLocation="Characters.xsd" />
    <xs:simpleType name="CharacterArchetypeRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CharacterArchetype">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="CharacterRef" type="CharacterRef" minOccurs="1" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CharacterArchetypes">
        <xs:sequence>
            <xs:element name="CharacterArchetype" type="CharacterArchetype" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>