DefinitionXsd/Gameplay/Acquirables/Tool.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="DegradableAcquirable.xsd" />
    <xs:include schemaLocation="EffectiveSubstances.xsd" />
    <xs:include schemaLocation="../Usability.xsd" />
    <xs:simpleType name="ToolRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Tool">
        <xs:complexContent>
            <xs:extension base="DegradableAcquirable">
                <xs:sequence>
                    <xs:element name="EffectiveSubstances" type="EffectiveSubstances" minOccurs="1" />
                </xs:sequence>
                <xs:attributeGroup ref="UseAttributes" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ToolCatalog">
        <xs:sequence>
            <xs:element name="Tool" type="Tool" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>