Ambient.Domain/DefinitionXsd/Gameplay/Acquirables/Inventories/BuildingMaterialInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../BuildingMaterial.xsd" />
    <xs:complexType name="BuildingMaterialEntry">
        <xs:attribute name="BuildingMaterialRef" type="BuildingMaterialRef" use="required" />
        <xs:attribute name="Quantity" type="xs:int" default="1" />
    </xs:complexType>
    <xs:complexType name="BuildingMaterialInventory">
        <xs:sequence>
            <xs:element name="Entry" type="BuildingMaterialEntry" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>