Ambient.Domain/DefinitionXsd/Gameplay/Acquirables/Inventories/ConsumableInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../Consumable.xsd" />
    <xs:include schemaLocation="../../CommonTypes.xsd" />
    <xs:complexType name="ConsumableEntry">
        <xs:attribute name="ConsumableRef" type="ConsumableRef" use="required" />
        <xs:attribute name="Quantity" type="NonNegativeInt" use="required" />
    </xs:complexType>
    <xs:complexType name="ConsumableInventory">
        <xs:sequence>
            <xs:element name="Entry" type="ConsumableEntry" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>