DefinitionXsd/Gameplay/SagaEngine/SagaFeatures.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="SagaArcCommon.xsd" />

    <xs:simpleType name="SagaFeatureRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SagaFeatures">
        <xs:sequence>
            <xs:element name="SagaFeature" type="SagaFeature" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
