Content/Schemas/Gameplay/CommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:simpleType name="Condition01Float">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0.0" />
            <xs:maxInclusive value="1.0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeInt">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonNegativeFloat">
        <xs:restriction base="xs:float">
            <xs:minInclusive value="0.0" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>