Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/Gameplay/Acquirables/AcquirableBase.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../EntityBase.xsd" />
    <xs:include schemaLocation="../../SharedRefs.xsd" />
    <xs:complexType name="AcquirableBase">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:attribute name="ModelRef" type="ModelRef" use="optional" />
                <xs:attribute name="TextureRef" type="TextureRef" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>