Ambient.Saga.Sandbox.WindowsUI/DefinitionXsd/Gameplay/Acquirables/Equipment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="DegradableAcquirable.xsd" />
    <xs:include schemaLocation="../Usability.xsd" />
    <xs:include schemaLocation="../LoadoutSlots.xsd" />
    <xs:include schemaLocation="CharacterEffects.xsd" />
    <xs:simpleType name="EquipmentRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Equipment">
        <xs:complexContent>
            <xs:extension base="DegradableAcquirable">
                <xs:sequence>
                    <xs:element name="Effects" type="CharacterEffects" />
                    <!-- Minimum stats required to equip this item -->
                    <xs:element name="MinimumStats" type="CharacterEffects" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="SlotRef" type="LoadoutSlotRef" use="required" />
                <!-- Equipment category (what class of item this is) -->
                <xs:attribute name="Category" type="EquipmentCategoryType" use="required" />
                <xs:attributeGroup ref="UseAttributes" />
                <!-- Status effects applied on hit/critical hit -->
                <xs:attribute name="StatusEffectRef" type="xs:string" use="optional" />
                <xs:attribute name="StatusEffectChance" type="xs:float" use="optional" default="0.0" />
                <xs:attribute name="StatusEffectOnCritOnly" type="xs:boolean" use="optional" default="false" />
                <!-- PHASE 5: Status effects applied when defending (e.g., shield grants buff) -->
                <xs:attribute name="OnDefendStatusEffectRef" type="xs:string" use="optional" />
                <xs:attribute name="OnDefendStatusEffectChance" type="xs:float" use="optional" default="1.0" />
                <!-- Critical hit chance modifier (0.0 to 1.0, added to base crit chance) -->
                <xs:attribute name="CriticalHitBonus" type="xs:float" use="optional" default="0.0" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EquipmentCatalog">
        <xs:sequence>
            <xs:element name="Equipment" type="Equipment" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>