DefinitionXsd/Refs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:simpleType name="CharacterRef">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
        <xs:simpleType name="SagaArcRef">
        <xs:restriction base="xs:string">
            <!--<xs:pattern value="[A-Z0-9_]+" />-->
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
        </xs:restriction>
    </xs:simpleType>
    <!-- Reference Types -->
    <xs:simpleType name="FactionRef">
        <xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
    </xs:simpleType>
</xs:schema>
