DefinitionXsd/RpgExperimentalSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="BaseEntity">
        <xs:sequence>
            <xs:element name="Description" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="RefName" type="xs:string" use="required" />
        <xs:attribute name="DisplayName" type="xs:string" use="required" />
    </xs:complexType>
    <xs:complexType name="ItemType">
        <xs:complexContent>
            <xs:extension base="BaseEntity" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AssociatedCharacterRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="role" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CharacterType">
        <xs:complexContent>
            <xs:extension base="BaseEntity" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestLocationType" mixed="true">
        <xs:sequence>
            <xs:element name="Landmark" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SagaType">
        <xs:complexContent>
            <xs:extension base="BaseEntity">
                <xs:sequence>
                    <xs:element name="AssociatedCharacterRef" type="AssociatedCharacterRefType" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="RequiresItemRef" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="GivesItemRef" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:choice>
                        <xs:element name="Structure" type="xs:string" />
                        <xs:element name="Landmark" type="xs:string" />
                        <xs:element name="QuestLocation" type="QuestLocationType" />
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="latitude" type="xs:decimal" use="required" />
                <xs:attribute name="longitude" type="xs:decimal" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="World">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Items" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Item" type="ItemType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Characters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Character" type="CharacterType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SagaArcs">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SagaArc" type="SagaType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>