Content/Schemas/Gameplay/Achievements/Achievement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="Ambient.Domain" xmlns="Ambient.Domain" elementFormDefault="qualified">
    <xs:include schemaLocation="../../EntityBase.xsd" />
    <xs:simpleType name="AchievementRef">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9_]+" />
            <xs:minLength value="1" />
            <xs:maxLength value="64" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="AchievementCriteriaType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BlocksPlaced" />
            <xs:enumeration value="BlocksDestroyed" />
            <xs:enumeration value="DistanceTraveled" />
            <xs:enumeration value="PlayTimeHours" />
            <xs:enumeration value="CharactersDefeated" />
            <xs:enumeration value="CharactersDefeatedByType" />
            <xs:enumeration value="CharactersDefeatedByTag" />
            <xs:enumeration value="CharactersDefeatedByRef" />
            <xs:enumeration value="SagaArcsDiscovered" />
            <xs:enumeration value="SagaArcsCompleted" />
            <xs:enumeration value="LandmarksDiscovered" />
            <xs:enumeration value="SagaTriggersActivated" />
            <xs:enumeration value="DialogueTreesCompleted" />
            <xs:enumeration value="DialogueNodesVisited" />
            <xs:enumeration value="UniqueCharactersMet" />
            <xs:enumeration value="TraitsAssigned" />
            <xs:enumeration value="TraitsAssignedByType" />
            <xs:enumeration value="TraitsAssignedToCharacterType" />
            <xs:enumeration value="ItemsTraded" />
            <xs:enumeration value="LootAwarded" />
            <xs:enumeration value="QuestTokensEarned" />
            <xs:enumeration value="QuestsCompleted" />
            <xs:enumeration value="QuestsCompletedByRef" />
            <xs:enumeration value="ReputationReached" />
            <xs:enumeration value="FactionsAtReputationLevel" />
            <xs:enumeration value="StatusEffectsApplied" />
            <xs:enumeration value="CriticalHitsDealt" />
            <xs:enumeration value="CombosExecuted" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AchievementCriteria">
        <xs:attribute name="Type" type="AchievementCriteriaType" use="required"></xs:attribute>
        <xs:attribute name="Threshold" type="xs:float" use="required"></xs:attribute>
        <xs:attribute name="CharacterType" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="CharacterTag" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="CharacterRef" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="SagaArcRef" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="TraitType" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="QuestTokenRef" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="QuestRef" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="FactionRef" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="ReputationLevel" type="xs:string" use="optional"></xs:attribute>
        <xs:attribute name="StatusEffectType" type="xs:string" use="optional"></xs:attribute>
    </xs:complexType>
    <xs:complexType name="Achievement">
        <xs:complexContent>
            <xs:extension base="EntityBase">
                <xs:sequence>
                    <xs:element name="Criteria" type="AchievementCriteria" minOccurs="1" maxOccurs="1" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Achievements">
        <xs:sequence>
            <xs:element name="Achievement" type="Achievement" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>